<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="Github" value="https://nuget.pkg.github.com/netowls-studio/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Github>
        <add key="Username" value="netowls-studio" />
        <add key="ClearTextPassword" value="a329be92d532b0799ed4124eba4947109169b399" />
      </Github>
  </packageSourceCredentials>
</configuration>
