<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="${var:root}internal-log.${date:format=yyyyMMddHH}.txt"
      internalLogLevel="Info"
      internalLogToConsole="true"
      internalLogToConsoleError="true"
      internalLogToTrace="true"
      throwConfigExceptions="true"
      throwExceptions="false">
  <variable name="root" value="${basedir}${dir-separator}App_Data${dir-separator}Logs${dir-separator}${date:format=yyyyMM}${dir-separator}" />
  <variable name="archive" value="${basedir}${dir-separator}App_Data${dir-separator}Logs-Archives${dir-separator}${date:format=yyyyMM}${dir-separator}" />
  <targets>
    <target xsi:type="File" name="FileTarget"
            archiveAboveSize="2097152"
            archiveDateFormat="yyyyMMdd"
            archiveEvery="Month"
            archiveFileKind="Absolute"
            archiveFileName="${var:archive}backup.{#}.txt"
            archiveNumbering="DateAndSequence"
            archiveOldFileOnStartup="false"
            autoFlush="true"
            bufferSize="1024"
            createDirs="true"
            encoding="utf-8"
            fileName="${var:root}runtime.${date:format=yyyyMMddHH}.txt"
            layout="Level: ${level:uppercase=true}${newline}Time: ${date:format=yyyy-MM-dd HH\:mm\:ss}${newline}Message: ${message}${newline}Call Site Information: ${callsite:fileName=true} #{callsite-linenumber}${newline}Host Name: ${hostname}${newline}IP Address: ${local-ip:addressFamily=InterNetwork}${newline}Machine Name: ${machinename}${newline}Application Base Directory: ${basedir}${newline}Application Environment: ${aspnet-environment}${newline}Http Headers: ${aspnet-request-headers}${newline}Http Method: ${aspnet-request-method}${newline}Url: ${aspnet-request-url:IncludeQueryString=true:IncludePort=true}${newline}Stack Trace:${newline}${stacktrace:format=DetailedFlat}${newline}Exception:${newline}${exception:format=ToString,Data}${newline}"
            maxArchiveDays="365"
            maxArchiveFiles="4096"/>
    <target xsi:type="ColoredConsole" name="ColoredConsoleTarget"
            autoFlush="true"
            detectConsoleAvailable="true"
            encoding="utf-8" layout="[${level:uppercase=true}]: ${message} (${date:format=yyyy-MM-dd HH\:mm\:ss})"/>
    <target xsi:type="Mail" name="MailTarget"
            addNewLines="true"
            body="Level: ${level:uppercase=true}${newline}Time: ${date:format=yyyy-MM-dd HH\:mm\:ss}${newline}Message: ${message}${newline}Call Site Information: ${callsite:fileName=true} #{callsite-linenumber}${newline}Host Name: ${hostname}${newline}IP Address: ${local-ip:addressFamily=InterNetwork}${newline}Machine Name: ${machinename}${newline}Application Base Directory: ${basedir}${newline}Application Environment: ${aspnet-environment}${newline}Http Headers: ${aspnet-request-headers}${newline}Http Method: ${aspnet-request-method}${newline}Url: ${aspnet-request-url:IncludeQueryString=true:IncludePort=true}${newline}Stack Trace:${newline}${stacktrace:format=DetailedFlat}${newline}Exception:${newline}${exception:format=ToString,Data}${newline}"
            deliveryMethod="Network"
            encoding="utf-8"
            from="netowls_studio@sina.com"
            priority="1"
            smtpAuthentication="Basic"
            smtpPassword="0595787909eedcf7"
            smtpServer="smtp.sina.com"
            smtpUserName="netowls_studio@sina.com" subject="DEP 数据交换服务运行日志 - ${level:uppercase=true} ${date:format=yyyy-MM-dd HH\:mm}"
            to="netowls_studio@sina.com"
            cc="180261899@qq.com"/>
  </targets>
  <rules>
    <logger enabled="true" minlevel="Debug" maxlevel="Fatal" writeTo="FileTarget" />
    <logger enabled="true" minlevel="Debug" maxlevel="Fatal" writeTo="ColoredConsoleTarget" />
    <logger enabled="true" minlevel="Warn" maxlevel="Fatal" writeTo="MailTarget" />
  </rules>
</nlog>